@charset "utf-8";

/*header*/
.Header {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 8%;
  box-sizing: border-box;
  z-index: 200;
  background-color: #fff;
}
.header_logo {
  width: 129px;
  background-color: #fff;
}
.HeaderMenu_pcnav {
  display: flex;
  gap: 46px;
  font-weight: bold;
  position: relative;
}
.HeaderMenu_pcnav ul {
  display: flex;
  align-items: center;
  gap: 68px;
}
.HeaderMenu_pcnav ul li {
  text-align: center;
}

/*header_about*/
.header_about_arrow {
  width: 7px;
  height: 7px;
  border-top: 3px solid #3333;
  border-right: 3px solid #3333;
  transform: rotate(135deg);
  position: absolute;
  top: 30%;
  left: 107%;
}
.header_about_item {
  position: relative;
  cursor: pointer;
}
.about_item {
  /* 配置の調節 */
  background: #ff853c;
  padding: 0 10px;
  border-radius: 8px;
  position: absolute;
  top: 50px;
  flex-direction: column;
  justify-content: center;
  height: 0; /* 高さ0で最初は非表示に */
  overflow: hidden; /* 高さ0からはみ出た中身を隠す */
  transition: 0.5s; /* ホバー時の動きをゆっくりに */
}
.about_item li {
  color: #fff;
}
.header_about_item:hover .about_item {
  height: 41px;
  padding: 10px;
}
/*header_works*/
.header_works_item {
  position: relative;
}
.header_works_arrow {
  width: 7px;
  height: 7px;
  border-top: 3px solid #3333;
  border-right: 3px solid #3333;
  transform: rotate(135deg);
  position: absolute;
  top: 40%;
  right: -33%;
}
.works_item {
  background: #ff853c;
  padding: 0 10px;
  border-radius: 8px;
  position: absolute;
  top: 49px;
  flex-direction: column;
  justify-content: center;
  height: 0; /* 高さ0で最初は非表示に */
  overflow: hidden; /* 高さ0からはみ出た中身を隠す */
  transition: 0.5s; /* ホバー時の動きをゆっくりに */
}
.works_item li {
  color: #fff;
}
.header_works_item:hover .works_item {
  height: 41px;
  padding: 10px;
}

/*header_contact*/
.button-icon {
  display: flex;
  width: 16px;
  max-width: 33px;
  background: #fff;
  border-radius: 50%;
  padding: 10px 8px 10px 8px;
  margin-right: 4px;
}
.header_contact a {
  display: flex;
  max-width: 180px;
  align-items: center;
  background: #ff853c;
  color: #fff;
  border: none;
  border-radius: 35px;
  padding: 18px 33px;
}

/*about_works*/
li.about_sub_item,
li.works_sub_item {
  color: #fff;
}

/*headerの余白調整*/
#about,
#skill,
#works,
#contact {
  padding-top: 112px;
  margin-top: -112px;
}
.sp_btn p {
  display: none;
}
@media screen and (max-width: 1100px) {
  .HeaderMenu_pcnav {
    display: none;
  }
  .sp_btn p {
    display: block;
    color: #ff853c;
    position: absolute;
    top: 10px;
    left: 6px;
    font-size: 15px;
  }
  .sp_btn {
    display: block;
    height: 52px;
    cursor: pointer;
    width: 52px;
    border: 2px solid #ff853c;
    border-radius: 50%;
    z-index: 100;
    position: relative;
  }
  .sp_btn.open {
    border: 2px solid #fff;
  }
  .sp_btn span {
    display: block;
    width: 30px;
    height: 2px;
    background-color: #ff853c;
    position: relative;
    top: 23px;
    left: 10px;
    transition: 0.3s;
  }
  .sp_btn span::before,
  .sp_btn span::after {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background-color: #ff853c;
    position: absolute;
    transition: 0.3s;
  }
  .sp_btn.open span::before,
  .sp_btn.open span::after {
    background-color: #fff;
  }
  .sp_btn span::before {
    bottom: 8px;
  }
}

.sp_btn.open span {
  background-color: transparent;
}
.sp_btn.open span::before {
  bottom: 0;
  transform: rotate(45deg);
}
.sp_btn.open span::after {
  top: 0;
  transform: rotate(-45deg);
}
.HeaderMenu_spnav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 133, 60, 0.5);
  z-index: 1;
}
.HeaderMenu_spnav ul li {
  color: #fff;
  text-align: center;
}
.about_menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 90px;
  font-size: 16px;
  font-weight: bold;
}
.about_item {
  /* 配置の調節 */
  background: #ff853c;
  text-align: center;
  padding: 0 10px;
  border-radius: 8px;
  position: absolute;
  top: 50px;
  flex-direction: column;
  justify-content: center;
  height: 0; /* 高さ0で最初は非表示に */
  overflow: hidden; /* 高さ0からはみ出た中身を隠す */
  transition: 0.5s; /* ホバー時の動きをゆっくりに */
}
.sp_header_about_arrow,
.sp_header_works_arrow {
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  width: 7px;
  height: 7px;
  transform: rotate(135deg);
  position: absolute;
  top: 30%;
  left: 107%;
}
.sp_header_contact a {
  background: #fff;
  color: #ff853c;
  display: flex;
  max-width: 180px;
  align-items: center;
  border: none;
  border-radius: 35px;
  padding: 18px 33px;
}

.sp_button-icon {
  background: #ff853c;
  display: flex;
  width: 16px;
  max-width: 33px;
  border-radius: 50%;
  padding: 10px 8px 10px 8px;
  margin-right: 4px;
}
.HeaderMenu_spnav {
  display: none;
}
.sp_btn.open p {
  display: none;
}

/*FV*/
.home {
  display: flex;
  padding: 112px 0 0;
  position: relative;
}
.home_catchcopy {
  position: relative;
}
.home_mainvisual {
  border-radius: 48px 0 0 48px;
  text-align: left;
  margin: 0 0 0 auto;
}
.home_text {
  width: 33%;
  font-size: 40px;
  position: absolute;
  left: 17.5%;
  top: 32%;
  color: #ff853c;
  margin: 0;
  line-height: 1.75;
  font-family: serif;
  z-index: 100;
}
.home_text1 {
  position: absolute;
  top: 65%;
  left: 17%;
  font-family: serif;
  z-index: 100;
}
.home_text2 {
  font-size: 120px;
  margin: 0;
  color: #ff853c;
  opacity: 0.6;
}
.home_text3 {
  font-size: 70px;
  margin: 0;
  color: #ff853c;
  opacity: 0.6;
}
@keyframes my-fade-in1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.home_circle1 {
  /* .home_circle1が「my-fade-in」で状態変化するように指定 */
  animation-name: my-fade-in1;
  animation-duration: 3s;
}
.home_circle1 {
  background: radial-gradient(circle, #82e0ff, #82e0ff60);
  filter: blur(40px);
  position: absolute;
  top: 20%;
  left: 11%;
  width: 133px;
  height: 133px;
  border-radius: 50%;
}
@keyframes my-fade-in2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.home_circle2 {
  /* .home_circle2が「my-fade-in」で状態変化するように指定 */
  animation-name: my-fade-in2;
  animation-duration: 1s;
}
.home_circle2 {
  background: radial-gradient(circle, #ff853c, #ff853c60);
  filter: blur(40px);
  position: absolute;
  top: 51%;
  left: 26%;
  width: 133px;
  height: 133px;
  border-radius: 50%;
  z-index: 100;
}
.paper_flight {
  width: 59%;
  position: relative;
  margin-left: auto;
  overflow: hidden;
}
.paper_flight_photo {
  width: 50%;
  max-width: 350px;
  position: absolute;
  top: 35%;
  animation: floatX 30s ease-in-out infinite,
    floatY 1s ease-in-out infinite alternate-reverse;
}
@keyframes floatX {
  0% {
    left: 100%;
  }
  100% {
    left: -350px;
  }
}
@keyframes floatY {
  0% {
    transform: translateY(-10%) rotate(5deg);
  }
  100% {
    transform: translateY(10%) rotate(-5deg);
  }
}
.target {
  display: block;
  width: 100%;
  height: auto;
  user-select: none;
}
@media screen and (max-width: 768px) {
  .home {
    padding: 112px 0 40px 0;
  }
}
/*line*/
.line {
  max-width: 100px;
  max-height: 284px;
  margin: 100px auto;
  opacity: 0; /* 最初は非表示にしておく */
  transition: all 2s; /* 動きを滑らかに */
}
@media screen and (max-width: 768px) {
  .line {
    max-width: 28px;
    max-height: 80px;
    margin: 30px auto;
  }
}

.fadeIn {
  opacity: 1;
}
@media screen and (max-width: 1397px) {
  .home_text2 {
    font-size: 100px;
  }
  .home_text3 {
    font-size: 50px;
  }
}
@media screen and (max-width: 1100px) {
  .home_text2 {
    font-size: 69px;
  }
  .home_text3 {
    font-size: 35px;
  }
  .home_text {
    font-size: 30px;
    left: 8%;
  }
  .home_text1 {
    top: 67%;
    left: 8%;
    right: 8%;
  }
  .home_mainvisual {
    border-radius: 0;
  }
  .paper_flight {
    width: 100%;
  }
  .home_circle1 {
    top: 20%;
    left: 1%;
    z-index: 100;
  }
  .home_circle2 {
    top: 44%;
    left: 26%;
  }
}
@media (max-width: 768px) {
  .home_text {
    width: 274px;
  }
  .home_text2 {
    font-size: 29px;
    margin-bottom: 10px;
  }
  .home_text3 {
    font-size: 35px;
  }
  .home_text {
    font-size: 25px;
  }
  .home_mainvisual {
    width: 100%;
    height: 667px;
    object-fit: cover;
  }
  .home_circle1,
  .home_circle2 {
    width: 101px;
    height: 101px;
  }
}

/*about*/
.about {
  overflow: hidden;
}
.about_text {
  text-align: center;
  position: relative;
  font-family: serif;
  font-weight: bold;
}
.about_text1 {
  font-size: 26px;
  color: #ff853c;
}
.about_text2 {
  font-size: 40px;
  color: #ff853c;
  margin: 0 0 66px;
}
.about_photo {
  max-width: 642px;
  width: 90%;
  margin: 0 auto;
  position: relative;
}
.about_photo1 {
  height: auto;
  border-radius: 48px;
}
.about_text3 {
  font-size: 16px;
  line-height: 1.75;
  text-align: center;
  font-weight: 600;
  margin: 40px 0 36px;
}
.aboutme-button {
  display: flex;
  border-radius: 35px;
  border: #ff853c;
  width: 180px;
  height: 70px;
  background-color: #ff853c;
  align-items: center;
  margin: 25px auto 385px;
  padding: 0;
}
.about_me {
  display: flex;
  margin: 0 auto;
}
.about_me a {
  font-size: 16px;
  color: #fff;
  text-align: center;
  font-family: serif;
  font-weight: bold;
}
.about_circle {
  position: relative;
  width: 17px; /* 丸の直径 */
  height: 17px;
  border: 2px solid #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
}
.about_arrow {
  width: 7px;
  height: 7px;
  border-top: 2px solid white;
  border-right: 2px solid white;
  transform: rotate(45deg);
  margin-right: 4px;
}
.about_circle1 {
  background: radial-gradient(circle, #ff853c, #ff853c60);
  filter: blur(70px);
  position: absolute;
  top: -12%;
  left: -24%;
  width: 253px;
  height: 253px;
  border-radius: 50%;
}
.about_circle2 {
  background: radial-gradient(circle, #82e0ff, #82e0ff60);
  filter: blur(40px);
  position: absolute;
  top: 60%;
  right: -24%;
  width: 253px;
  height: 253px;
  border-radius: 50%;
}
.sp_about_photo1 {
  display: none;
}
@media (max-width: 1100px) {
  .home {
    padding: 108px 0 0;
  }
  #about,
  #skill,
  #works,
  #contact {
    padding-top: 108px;
    margin-top: -108px;
  }
}
@media (max-width: 768px) {
  .about_photo1 {
    display: none;
  }
  .about_photo {
    margin: 0;
    width: 100%;
    max-width: 768px;
  }
  .sp_about_photo1 {
    display: block;
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
  .about_text1 {
    font-size: 20px;
    margin: 0 0 12px;
  }
  .about_text2 {
    font-size: 28px;
    margin: 0 0 18px;
  }
  .about_circle1 {
    width: 101px;
    height: 101px;
    top: -22%;
    left: -4%;
    filter: blur(40px);
  }
  .about_circle2 {
    width: 101px;
    height: 101px;
    top: 90%;
    right: 0%;
  }
  .about_text3 {
    font-size: 18px;
    margin: 30px 10px 40px;
    text-align: left;
  }
  .pc_br {
    display: none;
  }
  .aboutme-button {
    width: 314px;
    height: 74px;
    margin: 0 auto 122px;
  }
  .about_me a {
    font-size: 28px;
  }
  .about_circle {
    width: 20px;
    height: 20px;
  }
  .about_arrow {
    width: 5px;
    height: 5px;
  }
  .about_me {
    align-items: center;
  }
}

/*skill*/
.skill_text {
  text-align: center;
  position: relative;
}
.skill_text1 {
  font-size: 26px;
  color: #ff853c;
  font-family: serif;
  font-weight: bold;
}
.skill_text2 {
  font-size: 40px;
  color: #ff853c;
  font-family: serif;
  font-weight: bold;
  margin-bottom: 95px;
}
.skill_circle {
  background: radial-gradient(circle, #ff853c, #ff853c60);
  filter: blur(40px);
  position: absolute;
  top: -3%;
  left: 51%;
  width: 123px;
  height: 123px;
  border-radius: 50%;
}
.skill_circle1 {
  background: #ff853c;
  width: 100%;
  border-radius: 50%;
  display: flex;
  position: relative;
  aspect-ratio: 1;
}
.skill_circle1 img {
  max-width: 219px;
  width: 53%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.skill_contents {
  max-width: 1000px;
  margin: 89px auto;
}
.skill_contents ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 40px;
}
.skill_box {
  max-width: 410px;
  width: 40%;
  margin-bottom: 102px;
}
.skill_contents_title {
  margin: 40px auto 16px auto;
  font-size: 26px;
}
.skill_comtents_version {
  margin: 0 auto 50px auto;
  font-size: 16px;
  line-height: 1.75;
}
.skill_tool {
  display: inline-block;
  border-bottom: 1px solid #3333;
  padding-bottom: 8px;
  margin: 0;
}
.skill_line_designs {
  width: 1px;
  height: 298px;
  background: #3333;
  margin-top: 35px;
}
.skill_line_coding {
  width: 1px;
  height: 298px;
  background: #3333;
  margin-top: 30px;
}
.skill_line_accounting {
  width: 1px;
  height: 298px;
  background: #3333;
  margin-top: 55px;
}
.skill_line_welfare {
  width: 1px;
  height: 298px;
  background: #3333;
  margin-top: 35px;
}
.skill_circle1 p {
  transform: rotate(90deg);
  font-size: 26px;
  margin: 0;
  margin-top: 50px;
}
.skill_circle1 > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skill {
  margin-bottom: 385px;
}
@media (max-width: 768px) {
  .skill_text1 {
    font-size: 20px;
    margin: 0 0 12px;
  }
  .skill_text2 {
    font-size: 28px;
    margin: 0 0 18px;
  }
  .skill_circle {
    width: 74px;
    height: 74px;
  }
  .skill_contents ul {
    flex-direction: column;
    align-items: center;
  }
  .skill_box {
    max-width: 315px;
    margin-bottom: 56px;
    width: 90%;
  }
  .skill_contents_title {
    margin: 30px auto 30px auto;
    font-size: 20px;
  }
  .skill_comtents_version {
    margin: 0 auto 30px;
    font-size: 18px;
  }
  .skill_tool {
    font-size: 12px;
  }
  .skill_circle1 p {
    font-size: 16px;
  }
  .skill {
    margin-bottom: 104px;
  }
  .skill_circle1 img {
    max-width: 153px;
  }
}
/*works*/
.works_content {
  max-width: 1920px;
}

.works_text {
  text-align: center;
  position: relative;
}
.works_text1 {
  font-size: 26px;
  color: #ff853c;
  font-family: serif;
  font-weight: bold;
}
.works_text2 {
  font-size: 40px;
  color: #ff853c;
  font-family: serif;
  font-weight: bold;
  margin-bottom: 95px;
}

.works_circle {
  background: radial-gradient(circle, #82e0ff, #82e0ff60);
  filter: blur(40px);
  position: absolute;
  top: 0%;
  left: 40%;
  width: 126px;
  height: 126px;
  border-radius: 50%;
}
.works_photo {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 58px;
}
.slick-prev {
  left: 3%;
  z-index: 99;
  width: 71px;
  height: 71px;
  border-radius: 50%;
  border: 4px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 22px;
}
.slick-next {
  right: 3%;
  width: 71px;
  height: 71px;
  border-radius: 50%;
  border: 4px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 22px;
}
.slick-next:before {
  content: "";
  display: block;
  width: 31px;
  height: 31px;
  border-top: 4px solid white;
  border-right: 4px solid white;
  transform: rotate(45deg);
}
.slick-prev:before {
  content: "";
  display: block;
  width: 31px;
  height: 31px;
  border-top: 4px solid white;
  border-right: 4px solid white;
  transform: rotate(-135deg);
}
.slick-track {
  display: flex;
}
.works_oblong {
  height: auto;
  background: #e4d7d7;
}
.works_oblong a {
  display: flex;
  height: 100%;
  align-items: center;
}
.slick-dots {
  bottom: -56px;
  font-size: 4px;
}
.slick-dots li {
  margin: 0 20px;
}
.works-button {
  display: flex;
  border-radius: 35px;
  border: #ff853c;
  width: 180px;
  height: 70px;
  background-color: #ff853c;
  align-items: center;
  margin: 76px auto 385px;
  padding: 0;
}
.works_more {
  display: flex;
  margin: 0 auto;
}
.works_more a {
  font-size: 16px;
  color: #fff;
  text-align: center;
  font-family: serif;
  font-weight: bold;
}
.works_circle1 {
  position: relative;
  width: 17px; /* 丸の直径 */
  height: 17px;
  border: 2px solid #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
}
.works_arrow {
  width: 7px;
  height: 7px;
  border-top: 2px solid white;
  border-right: 2px solid white;
  transform: rotate(45deg);
  margin-right: 4px;
}
.sp_works_photo {
  display: none;
}
@media (max-width: 768px) {
  .works_text1 {
    font-size: 20px;
    margin: 0 0 12px;
  }
  .works_text2 {
    font-size: 28px;
    margin: 0 0 18px;
  }
  .works_photo {
    display: none;
  }
  .sp_works_photo {
    display: block;
  }
  .works_circle {
    width: 68px;
    height: 68px;
  }
  .slick-prev {
    width: 35px;
    height: 35px;
    padding-left: 6px;
    border: 2px solid white;
  }
  .slick-prev:before {
    width: 10px;
    height: 10px;
    border-top: 2px solid white;
    border-right: 2px solid white;
  }
  .slick-next {
    width: 35px;
    height: 35px;
    padding-right: 6px;
    border: 2px solid white;
  }
  .slick-next:before {
    width: 10px;
    height: 10px;
    border-top: 2px solid white;
    border-right: 2px solid white;
  }
  .slick-dots li {
    margin: 0 12px;
  }
  .works-button {
    width: 314px;
    height: 74px;
    margin: 67px auto 122px;
  }
  .works_more {
    align-items: center;
  }
  .works_more a {
    font-size: 28px;
  }
  .works_circle1 {
    width: 20px;
    height: 20px;
  }
  .works_arrow {
    width: 5px;
    height: 5px;
  }
  .slick-dots {
    bottom: -39px;
  }
}
/*contact*/
.contact_text {
  text-align: center;
  position: relative;
}
.contact_text1 {
  font-size: 26px;
  color: #ff853c;
  font-family: serif;
  font-weight: bold;
}
.contact_text2 {
  font-size: 40px;
  color: #ff853c;
  font-family: serif;
  font-weight: bold;
  margin-bottom: 95px;
}
.contact_circle {
  background: radial-gradient(circle, #ff853c, #ff853c60);
  filter: blur(40px);
  position: absolute;
  top: -3%;
  left: 51%;
  width: 123px;
  height: 123px;
  border-radius: 50%;
}
.contact_Information {
  font-size: 16px;
  line-height: 1.75;
  max-width: 948px;
  margin: 0 auto;
  margin-bottom: 104px;
  width: 90%;
}
.contact_inquiry {
  max-width: 948px;
  margin: 0 auto;
  margin-bottom: 46px;
  width: 90%;
}
.contact_inquiry label {
  font-size: 16px;
  display: flex;
}
#name,
#address {
  width: 100%;
  height: 70px;
  text-align: center;
  border: solid white;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 16px;
}
#details {
  width: 100%;
  height: 534px;
  text-align: center;
  border: solid white;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.75;
}
.contact_button {
  background: #ff853c;
  width: 386px;
  height: 70px;
  border: none;
  margin: 0 auto 160px auto;
  border-radius: 8px;
  cursor: pointer;
}
.contact_button_text {
  font-size: 24px;
  font-weight: bold;
  border: none;
  background: none;
  color: #fff;
  margin: 20px 36%;
  cursor: pointer;
}
textarea {
  width: 100%;
  height: 150px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical; /* 縦方向のリサイズを許可 */
}
textarea:focus {
  border-color: #4caf50;
  outline: none;
}

@media (max-width: 768px) {
  .contact_text1 {
    font-size: 20px;
    margin: 0 0 12px;
  }
  .contact_text2 {
    font-size: 28px;
    margin: 0 0 18px;
  }
  .contact_Information {
    font-size: 18px;
    margin-bottom: 36px;
  }
  .contact_circle {
    width: 92px;
    height: 92px;
  }
  #name,
  #address {
    height: 80px;
  }
  .contact_inquiry {
    margin-bottom: 36px;
  }
  .contact_button {
    margin: 0 auto 108px auto;
  }
  textarea::placeholder {
    font-weight: normal;
    font-family: "Arial", sans-serif;
  }
}
/*footer*/
footer {
  background: linear-gradient(to right, #e9bfb6, #8a9cb6);
}
.Footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 88px 8% 122px;
  box-sizing: border-box;
  width: 100%;
  height: 276px;
}
.footer_logo {
  width: 129px;
}
.FooterMenu_pcnav {
  font-weight: bold;
}
.FooterMenu_pcnav ul {
  display: flex;
  align-items: center;
  gap: 66px;
}
.FooterMenu_pcnav li {
  text-align: center;
}
.footer_button-icon {
  display: flex;
  width: 16px;
  max-width: 33px;
  background: #ff853c;
  border-radius: 50%;
  padding: 10px 8px 10px 8px;
  margin-right: 4px;
}
.FooterMenu_pcnav a {
  color: #fff;
}
.footer_contact {
  border-radius: 35px;
}
.footer_contact {
  background: #fff;
}
.footer_contact a {
  display: flex;
  max-width: 180px;
  align-items: center;
  background: #fff;
  color: #ff853c;
  border: none;
  padding: 18px 33px;
  border-radius: 35px;
}
footer p {
  text-align: center;
  margin: 0;
  padding-bottom: 16px;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .Footer {
    height: 660px;
    flex-direction: column;
  }
  .footer_logo {
    width: 106px;
  }
  .FooterMenu_pcnav ul {
    flex-direction: column;
  }
  footer p {
    padding-bottom: 90px;
  }
  .contact_button {
    width: 314px;
    height: 74px;
  }
  .contact_button_text {
    font-size: 28px;
    margin: 16px 95px;
  }
}

/*scroll_circle*/
.scroll_circle {
  opacity: 0;
  transition: 2s;
}
.scroll_circle.is-show {
  opacity: 1;
}

@media screen and (max-width: 1100px) {
  .FooterMenu_pcnav ul {
    gap: 35px;
  }
  .footer_logo {
    width: 70px;
    padding-right: 12px;
  }
  .footer_about_arrow {
    left: 104%;
  }
  .footer_works_arrow {
    right: 35%;
  }
}
