@charset "utf-8";

/*header*/
.Header {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 8%;
  box-sizing: border-box;
  z-index: 200;
  background-color: #fff;
}
.header_logo {
  width: 129px;
  background-color: #fff;
}
.HeaderMenu_pcnav {
  display: flex;
  gap: 46px;
  font-weight: bold;
  position: relative;
}
.HeaderMenu_pcnav ul {
  display: flex;
  align-items: center;
  gap: 68px;
}
.HeaderMenu_pcnav ul li {
  text-align: center;
}

/*header_about*/
.header_about_arrow {
  width: 7px;
  height: 7px;
  border-top: 3px solid #3333;
  border-right: 3px solid #3333;
  transform: rotate(135deg);
  position: absolute;
  top: 30%;
  left: 107%;
}
.header_about_item {
  position: relative;
  cursor: pointer;
}
/*header_about_animation*/
@keyframes header-fade-in2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.about_item {
  color: #fff;
  padding: 10px;
  background: #ff853c;
  border-radius: 8px;
  position: absolute;
  top: 105%;
  right: 70%;
  display: none;
}

/*header_works*/
li.works_item {
  position: relative;
}
.header_works_arrow {
  width: 7px;
  height: 7px;
  border-top: 3px solid #3333;
  border-right: 3px solid #3333;
  transform: rotate(135deg);
  position: absolute;
  top: 40%;
  right: 33%;
}
.works_item {
  color: #fff;
  padding: 10px;
  background: #ff853c;
  border-radius: 8px;
  position: absolute;
  top: 105%;
  right: 31%;
  display: none;
}

/*header_contact*/
.button-icon {
  display: flex;
  width: 16px;
  max-width: 33px;
  background: #fff;
  border-radius: 50%;
  padding: 10px 8px 10px 8px;
  margin-right: 4px;
}
.header_contact a {
  display: flex;
  max-width: 180px;
  align-items: center;
  background: #ff853c;
  color: #fff;
  border: none;
  border-radius: 35px;
  padding: 18px 33px;
}

/*about_works*/
li.about_sub_item,
li.works_sub_item {
  color: #fff;
}

/*headerの余白調整*/
#about,
#skill,
#works,
#contact {
  padding-top: 112px;
  margin-top: -112px;
}

@media screen and (max-width: 1000px) {
  .HeaderMenu_pcnav ul {
    gap: 35px;
  }
  .header_logo {
    width: 70px;
    padding-right: 12px;
  }
  .header_about_arrow {
    left: 104%;
  }
  .header_works_arrow {
    right: 35%;
  }
}
/*FV*/
.home {
  display: flex;
  padding: 112px 0;
  position: relative;
}
.home_catchcopy {
  position: relative;
}
.home_mainvisual {
  border-radius: 48px 0 0 48px;
  text-align: left;
  margin: 0 0 0 auto;
}
.home_text {
  width: 33%;
  font-size: 40px;
  position: absolute;
  left: 17.5%;
  top: 32%;
  color: #ff853c;
  margin: 0;
  line-height: 1.75;
  font-family: serif;
  z-index: 100;
}
.home_text1 {
  position: absolute;
  top: 69%;
  left: 17%;
  font-family: serif;
  z-index: 100;
}
.home_text2 {
  font-size: 120px;
  margin: 0;
  color: #ff853c;
  opacity: 0.6;
}
.home_text3 {
  font-size: 70px;
  margin: 0;
  color: #ff853c;
  opacity: 0.6;
}
@keyframes my-fade-in1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.home_circle1 {
  /* .home_circle1が「my-fade-in」で状態変化するように指定 */
  animation-name: my-fade-in1;
  animation-duration: 3s;
}
.home_circle1 {
  background: radial-gradient(circle, #82e0ff, #82e0ff60);
  filter: blur(40px);
  position: absolute;
  top: 20%;
  left: 11%;
  width: 133px;
  height: 133px;
  border-radius: 50%;
}
@keyframes my-fade-in2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.home_circle2 {
  /* .home_circle2が「my-fade-in」で状態変化するように指定 */
  animation-name: my-fade-in2;
  animation-duration: 1s;
}
.home_circle2 {
  background: radial-gradient(circle, #ff853c, #ff853c60);
  filter: blur(40px);
  position: absolute;
  top: 51%;
  left: 26%;
  width: 133px;
  height: 133px;
  border-radius: 50%;
  z-index: 100;
}
.paper_flight {
  width: 67%;
  position: relative;
  margin-left: auto;
  overflow: hidden;
}
.paper_flight_photo {
  width: 50%;
  max-width: 350px;
  position: absolute;
  top: 35%;
  animation: floatX 30s ease-in-out infinite,
    floatY 1s ease-in-out infinite alternate-reverse;
}
@keyframes floatX {
  0% {
    left: 100%;
  }
  100% {
    left: -350px;
  }
}
@keyframes floatY {
  0% {
    transform: translateY(-10%) rotate(5deg);
  }
  100% {
    transform: translateY(10%) rotate(-5deg);
  }
}
.target {
  display: block;
  width: 100%;
  height: auto;
  user-select: none;
}

/*line*/
.line {
  max-width: 100px;
  max-height: 284px;
  margin: 0 auto;
  margin-bottom: 100px;
  opacity: 0; /* 最初は非表示にしておく */
  transition: all 2s; /* 動きを滑らかに */
}
.fadeIn {
  opacity: 1;
}
@media screen and (max-width: 1397px) {
  .home_text2 {
    font-size: 100px;
  }
  .home_text3 {
    font-size: 50px;
  }
}
@media screen and (max-width: 1093px) {
  .home_text2 {
    font-size: 69px;
  }
  .home_text3 {
    font-size: 35px;
  }
  .home_text {
    font-size: 30px;
  }
}
/*about*/
.about {
  overflow: hidden;
}
.about_text {
  text-align: center;
  position: relative;
  font-family: serif;
  font-weight: bold;
}
.about_text1 {
  font-size: 26px;
  color: #ff853c;
}
.about_text2 {
  font-size: 40px;
  color: #ff853c;
  margin: 0 0 66px;
}
.about_photo {
  max-width: 642px;
  width: 90%;
  margin: 0 auto;
  position: relative;
}
.about_photo1 {
  height: auto;
  border-radius: 48px;
}
.about_text3 {
  font-size: 16px;
  line-height: 1.75;
  text-align: center;
  font-weight: 600;
  margin: 40px 0 36px;
}
.aboutme-button {
  display: flex;
  border-radius: 35px;
  border: #ff853c;
  width: 180px;
  height: 70px;
  background-color: #ff853c;
  align-items: center;
  margin: 25px auto 385px;
  padding: 0;
}
.about_me {
  display: flex;
  margin: 0 auto;
}
.about_me a {
  font-size: 16px;
  color: #fff;
  text-align: center;
  font-family: serif;
  font-weight: bold;
}
.about_circle {
  position: relative;
  width: 17px; /* 丸の直径 */
  height: 17px;
  border: 2px solid #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
}
.about_arrow {
  width: 7px;
  height: 7px;
  border-top: 2px solid white;
  border-right: 2px solid white;
  transform: rotate(45deg);
  margin-right: 4px;
}
.about_circle1 {
  background: radial-gradient(circle, #ff853c, #ff853c60);
  filter: blur(70px);
  position: absolute;
  top: -12%;
  left: -24%;
  width: 253px;
  height: 253px;
  border-radius: 50%;
}
.about_circle2 {
  background: radial-gradient(circle, #82e0ff, #82e0ff60);
  filter: blur(40px);
  position: absolute;
  top: 60%;
  right: -24%;
  width: 253px;
  height: 253px;
  border-radius: 50%;
}

/*skill*/
.skill_text {
  text-align: center;
  position: relative;
}
.skill_text1 {
  font-size: 26px;
  color: #ff853c;
  font-family: serif;
  font-weight: bold;
}
.skill_text2 {
  font-size: 40px;
  color: #ff853c;
  font-family: serif;
  font-weight: bold;
  margin-bottom: 95px;
}
.skill_circle {
  background: radial-gradient(circle, #ff853c, #ff853c60);
  filter: blur(40px);
  position: absolute;
  top: -3%;
  left: 51%;
  width: 123px;
  height: 123px;
  border-radius: 50%;
}
.skill_circle1 {
  background: #ff853c;
  width: 100%;
  border-radius: 50%;
  display: flex;
  position: relative;
  aspect-ratio: 1;
}
.skill_circle1 img {
  max-width: 219px;
  width: 53%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.skill_contents {
  max-width: 1000px;
  margin: 89px auto;
}
.skill_contents ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 40px;
}
.skill_box {
  max-width: 410px;
  width: 40%;
  margin-bottom: 102px;
}
.skill_contents_title {
  margin: 40px auto 16px auto;
  font-size: 26px;
}
.skill_comtents_version {
  margin: 0 auto 50px auto;
  font-size: 16px;
  line-height: 1.75;
}
.skill_tool {
  display: inline-block;
  border-bottom: 1px solid #3333;
  padding-bottom: 8px;
  margin: 0;
}
.skill_line_designs {
  width: 1px;
  height: 298px;
  background: #3333;
  margin-top: 35px;
}
.skill_line_coding {
  width: 1px;
  height: 298px;
  background: #3333;
  margin-top: 30px;
}
.skill_line_accounting {
  width: 1px;
  height: 298px;
  background: #3333;
  margin-top: 55px;
}
.skill_line_welfare {
  width: 1px;
  height: 298px;
  background: #3333;
  margin-top: 35px;
}
.skill_circle1 p {
  transform: rotate(90deg);
  font-size: 26px;
  margin: 0;
  margin-top: 50px;
}
.skill_circle1 > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skill {
  margin-bottom: 395px;
}

/*works*/
.works_content {
  max-width: 1920px;
}

.works_text {
  text-align: center;
  position: relative;
}
.works_text1 {
  font-size: 26px;
  color: #ff853c;
  font-family: serif;
  font-weight: bold;
}
.works_text2 {
  font-size: 40px;
  color: #ff853c;
  font-family: serif;
  font-weight: bold;
  margin-bottom: 95px;
}

.works_circle {
  background: radial-gradient(circle, #82e0ff, #82e0ff60);
  filter: blur(40px);
  position: absolute;
  top: 0%;
  left: 40%;
  width: 126px;
  height: 126px;
  border-radius: 50%;
}
.works_photo {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 58px;
}
.slick-prev {
  left: 3%;
  z-index: 99;
  width: 71px;
  height: 71px;
  border-radius: 50%;
  border: 4px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 22px;
}
.slick-next {
  right: 3%;
  width: 71px;
  height: 71px;
  border-radius: 50%;
  border: 4px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 22px;
}
.slick-next:before {
  content: "";
  display: block;
  width: 31px;
  height: 31px;
  border-top: 4px solid white;
  border-right: 4px solid white;
  transform: rotate(45deg);
}
.slick-prev:before {
  content: "";
  display: block;
  width: 31px;
  height: 31px;
  border-top: 4px solid white;
  border-right: 4px solid white;
  transform: rotate(-135deg);
}
.slick-track {
  display: flex;
}
.works_oblong {
  height: auto;
  background: #e4d7d7;
}
.works_oblong a {
  display: flex;
  height: 100%;
  align-items: center;
}
.slick-dots {
  bottom: -56px;
  font-size: 4px;
}
.slick-dots li {
  margin: 0 20px;
}
.works-button {
  display: flex;
  border-radius: 35px;
  border: #ff853c;
  width: 180px;
  height: 70px;
  background-color: #ff853c;
  align-items: center;
  margin: 76px auto 385px;
  padding: 0;
}
.works_more {
  display: flex;
  margin: 0 auto;
}
.works_more a {
  font-size: 16px;
  color: #fff;
  text-align: center;
  font-family: serif;
  font-weight: bold;
}
.works_circle1 {
  position: relative;
  width: 17px; /* 丸の直径 */
  height: 17px;
  border: 2px solid #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
}
.works_arrow {
  width: 7px;
  height: 7px;
  border-top: 2px solid white;
  border-right: 2px solid white;
  transform: rotate(45deg);
  margin-right: 4px;
}

/*contact*/
.contact_text {
  text-align: center;
  position: relative;
}
.contact_text1 {
  font-size: 26px;
  color: #ff853c;
  font-family: serif;
  font-weight: bold;
}
.contact_text2 {
  font-size: 40px;
  color: #ff853c;
  font-family: serif;
  font-weight: bold;
  margin-bottom: 95px;
}
.contact_circle {
  background: radial-gradient(circle, #ff853c, #ff853c60);
  filter: blur(40px);
  position: absolute;
  top: -3%;
  left: 51%;
  width: 123px;
  height: 123px;
  border-radius: 50%;
}
.contact_Information {
  font-size: 16px;
  line-height: 1.75;
  max-width: 948px;
  margin: 0 auto;
  margin-bottom: 104px;
  width: 90%;
}
.contact_inquiry {
  max-width: 948px;
  margin: 0 auto;
  margin-bottom: 46px;
  width: 90%;
}
.contact_inquiry label {
  font-size: 16px;
  display: flex;
}
#name,
#address {
  width: 100%;
  height: 70px;
  text-align: center;
  border: solid white;
  border-radius: 8px;
  box-sizing: border-box;
}
#details {
  width: 100%;
  height: 534px;
  text-align: center;
  border: solid white;
  border-radius: 8px;
  box-sizing: border-box;
}
.contact_button {
  background: #ff853c;
  width: 386px;
  height: 70px;
  border: none;
  margin: 0 auto 160px auto;
  border-radius: 8px;
}
.contact_button_text {
  font-size: 24px;
  font-weight: bold;
  border: none;
  background: none;
  color: #fff;
  margin: 20px 36%;
}

/*footer*/
footer {
  background: linear-gradient(to right, #e9bfb6, #8a9cb6);
}
.Footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 88px 8% 122px;
  box-sizing: border-box;
  width: 100%;
  height: 276px;
}
.footer_logo {
  width: 129px;
}
.FooterMenu_pcnav {
  font-weight: bold;
}
.FooterMenu_pcnav ul {
  display: flex;
  align-items: center;
  gap: 68px;
}
.FooterMenu_pcnav li {
  text-align: center;
}
.footer_button-icon {
  display: flex;
  width: 16px;
  max-width: 33px;
  background: #ff853c;
  border-radius: 50%;
  padding: 10px 8px 10px 8px;
  margin-right: 4px;
}
.FooterMenu_pcnav a {
  color: #fff;
}
.footer_contact {
  border-radius: 35px;
}
.footer_contact {
  background: #fff;
}
.footer_contact a {
  display: flex;
  max-width: 180px;
  align-items: center;
  background: #fff;
  color: #ff853c;
  border: none;
  padding: 18px 33px;
  border-radius: 35px;
}
footer p {
  text-align: center;
  margin: 0;
  padding-bottom: 16px;
  color: #fff;
}

/*scroll_circle*/
.scroll_circle {
  opacity: 0;
  transition: 2s;
}
.scroll_circle.is-show {
  opacity: 1;
}
