@charset "utf-8";
.Header {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 8% 0 8%;
  box-sizing: border-box;
  z-index: 200;
  background-color: #fff;
}

.header_logo {
  width: 129px;
}

.HeaderMenu_pcnav {
  display: flex;
  gap: 46px;
  font-weight: bold;
}

.HeaderMenu_pcnav ul {
  display: flex;
  align-items: center;
  gap: 68px;
}

.button-icon {
  display: flex;
  width: 16px;
  max-width: 33px;
  background-color: #fff;
  border-radius: 50%;
  padding: 10px 8px 10px 8px;
  margin-right: 4px;
}

.icon-button {
  display: flex;
  max-width: 180px;
  align-items: center;
  background: #ff853c;
  color: #fff;
  border: none;
  border-radius: 35px;
  padding: 18px 33px;
}
