@charset "utf-8";

/*header*/
.Header {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 8%;
  box-sizing: border-box;
  z-index: 200;
  background-color: #fff;
}
.header_logo {
  width: 129px;
  background-color: #fff;
}
.HeaderMenu_pcnav {
  display: flex;
  gap: 46px;
  font-weight: bold;
  position: relative;
}
.HeaderMenu_pcnav ul {
  display: flex;
  align-items: center;
  gap: 68px;
}
.HeaderMenu_pcnav ul li {
  text-align: center;
}

/*header_about*/
.header_about_arrow {
  width: 7px;
  height: 7px;
  border-top: 3px solid #3333;
  border-right: 3px solid #3333;
  transform: rotate(135deg);
  position: absolute;
  top: 30%;
  left: 107%;
}
.header_about_item {
  position: relative;
}
.about_item {
  color: #fff;
  padding: 10px;
  background: #ff853c;
  border-radius: 8px;
  position: absolute;
  top: 105%;
  right: 70%;
  display: none;
}

/*header_works*/
li.works_item {
  position: relative;
}
.header_works_arrow {
  width: 7px;
  height: 7px;
  border-top: 3px solid #3333;
  border-right: 3px solid #3333;
  transform: rotate(135deg);
  position: absolute;
  top: 40%;
  right: 33%;
}
.works_item {
  color: #fff;
  padding: 10px;
  background: #ff853c;
  border-radius: 8px;
  position: absolute;
  top: 105%;
  right: 31%;
  display: none;
}

/*header_contact*/
.button-icon {
  display: flex;
  width: 16px;
  max-width: 33px;
  background: #fff;
  border-radius: 50%;
  padding: 10px 8px 10px 8px;
  margin-right: 4px;
}
.header_contact a {
  display: flex;
  max-width: 180px;
  align-items: center;
  background: #ff853c;
  color: #fff;
  border: none;
  border-radius: 35px;
  padding: 18px 33px;
}

/*about_works*/
li.about_sub_item,
li.works_sub_item {
  color: #fff;
}
/*headerの余白調整*/
#worksmore {
  padding: 182px 0 0 0;
}

@media screen and (max-width: 1000px) {
  .HeaderMenu_pcnav ul {
    gap: 35px;
  }
  .header_logo {
    width: 70px;
    padding-right: 12px;
  }
  .header_about_arrow {
    left: 104%;
  }
  .header_works_arrow {
    right: 35%;
  }
}

/* worksmore */
.worksmore {
  overflow: hidden;
}
.worksmore_title {
  text-align: center;
  padding-bottom: 64px;
  font-size: 40px;
  font-weight: bold;
  color: #ff853c;
  font-family: serif;
  position: relative;
}
.worksmore_contents {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  max-width: 1000px;
  margin: 0px auto;
  padding: 0 20px 163px;
  flex-wrap: wrap;
}
.works_circle1 {
  background: radial-gradient(circle, #99dbf1, #82e0ff60);
  filter: blur(40px);
  position: absolute;
  top: 13%;
  right: 39%;
  width: 126px;
  height: 126px;
  border-radius: 50%;
  z-index: -100;
}
.works {
  font-family: sans-serif;
  font-size: 16px;
  color: #333;
  line-height: 1.75;
  max-width: 400px;
}

.works_img {
  width: 400px;
  height: 400px;
  aspect-ratio: 1.3;
  background: #e4d7d7;
  margin: 10px 0 84px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  flex-wrap: wrap;
  border-radius: 8px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease,
    background-color 0.3s ease;
  overflow: hidden;
}
.works_img a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.works_separator {
  display: inline-block; /* インラインで縦棒を表示 */
  width: 8px; /* 縦棒の太さ */
  height: 14px; /* 縦棒の高さ */
  background-color: #ff853c; /* 縦棒の色 */
  margin: 0 4px; /* 文字との間隔 */
  vertical-align: middle; /* 縦揃え */
}

@keyframes my-fade-in1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.works_circle1 {
  /* .about_circle1が「my-fade-in」で状態変化するように指定 */
  animation-name: my-fade-in1;
  animation-duration: 2s;
}
.works_img:hover {
  transform: scale(1.05); /* カード全体を少し拡大 */
  background-color: #e4d7d7; /* 背景色を変える */
}

.works_img img {
  transition: transform 0.3s ease; /* 画像の動きにアニメーションを適用 */
  object-fit: cover;
  width: 100%;
}
.works_img.square img {
  height: 100%;
}
.works_img:hover .works_img img {
  transform: scale(1.1); /* ホバー時に画像を拡大 */
}

/*footer*/
footer {
  background: linear-gradient(to right, #e9bfb6, #8a9cb6);
}
.Footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 88px 8% 122px;
  box-sizing: border-box;
  width: 100%;
  height: 276px;
}
.footer_logo {
  width: 129px;
}
.FooterMenu_pcnav {
  font-weight: bold;
}
.FooterMenu_pcnav ul {
  display: flex;
  align-items: center;
  gap: 68px;
}
.FooterMenu_pcnav li {
  text-align: center;
}
.footer_button-icon {
  display: flex;
  width: 16px;
  max-width: 33px;
  background: #ff853c;
  border-radius: 50%;
  padding: 10px 8px 10px 8px;
  margin-right: 4px;
}
.FooterMenu_pcnav a {
  color: #fff;
}
.footer_contact {
  border-radius: 35px;
}
.footer_contact {
  background: #fff;
}
.footer_contact a {
  display: flex;
  max-width: 180px;
  align-items: center;
  background: #fff;
  color: #ff853c;
  border: none;
  padding: 18px 33px;
  border-radius: 35px;
}
footer p {
  text-align: center;
  margin: 0;
  padding-bottom: 16px;
  color: #fff;
}

@media screen and (max-width: 1000px) {
  .FooterMenu_pcnav ul {
    gap: 35px;
  }
  .footer_logo {
    width: 70px;
    padding-right: 12px;
  }
  .footer_about_arrow {
    left: 104%;
  }
  .footer_works_arrow {
    right: 35%;
  }
}
